{% extends 'main/layout/base.html' %}
{% load static %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Смена пароля</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Сменить пароль</button>
        </form>
        
        {% if messages %}
            <div class="mt-4">
                <ul class="list-group">
                    {% for message in messages %}
                        <li class="list-group-item">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
